@charset "UTF-8";
body{
    background-color: rgb(96, 250, 124);
    font-family: 'Times New Roman', Times, serif;

}
h1{
    color: rgb(2, 126, 25);
}
h2{
    color: rgb(19, 143, 3);
}
h1#principal{
    text-align: center;
}
